[2019-04-01 14:07] ChristiaanScheermeijer opened #9 "Use standard-version for commit messages"
We started this project using angular's commit message guidelines and conventional changelog in order to autogenerate the changelogs based on the commit messages.

However, it seems that the angular preset is not being used by the conventional changelog command. I suggest we update to [standard-version](https://github.com/conventional-changelog/standard-version).

[2019-04-11 08:37] ChristiaanScheermeijer opened #13 "Implement CORS for Rest API"
The REST API isn't supporting [CORS](https://www.w3.org/TR/cors/) currently which makes it unusable in some situations.

[2019-04-13 13:29] wimklerkx commented on #13
CORS will be implemented with the upcoming release (v0.3.2)

[2019-04-15 08:51] wimklerkx commented on #13
Solved in v0.3.2

[2019-04-15 08:51] #13 closed

[2019-06-25 09:08] alastair opened #16 "Can't run ce-api in docker with current package.json"
Running `docker-compose build` and `docker-compose up` results in the following error:

[code]

I can fix this by also copying package-lock.json into the image at this point:
https://github.com/trompamusic/ce-api/blob/e2405618acb0c796b8b87b8d08d9b689cade3f08/Dockerfile#L6
before running npm install. It looks like there are some packages missing in package.json that still exist in the lock file. I'

[2019-06-25 09:13] alastair opened #17 "Can query a MusicComposition's author with an inline fragment but not with named Fragment"
I created a Person and a MusicComposition and joined them together with `AddCreativeWorkInterfaceLegalPerson` and `field: author`

I can then query some Compositions and get their author by running the following query:
[code]
However, I also understand that I should be able to create a named fragment for the Person properties, such as

[code]

This fails with:
[code]

[2019-06-25 09:33] alastair opened #18 "MusicComposition has author and composer fields but only author can be filled in"
You can join a `CreativeWork` and `Person` with `AddCreativeWorkInterfaceLegalPerson`, as long as one of the fields is a `CreativeWorkInterfaceRelationToLegalPerson`

Some objects such as `MusicComposition` have more specific fields that have a clearer semantic meaning, such as `composer` (instead of `author`). There's no mutation to add this field, and it'd be nice to be able to have to join obje

[2019-06-25 09:34] alastair opened #19 "Person can be queried by title but not by name"
A `Person` can be queried with a `title` field:
[code]
However, semantically it makes more sense that a person has a name, not a title. It would be nice to be able to filter People by the `name` field instead

[2019-06-25 09:37] alastair opened #20 "Can query compositions by creator string but not Person object"
Among other fields, a `MusicComposition` query can be filtered by the `creator` field, which is a text string on the MusicComposition object:
[code]
However we also have an author of a composition, linked using the `AddCreativeWorkInterfaceLegalPerson` mutation.
I'd like to be able to query all compositions given a person's identifier. This would help us avoid the issue where different sources nam

[2019-06-25 10:04] alastair opened #21 "can query one-to-many fields in the one direction, but not the many direction"
I create a `Person` (composer) and `MusicComposition` (work), joined with `AddCreativeWorkInterfaceLegalPerson` field: author, and then a `DigitalDocument` (score), joined to the work with `AddThingInterfaceCreativeWorkInterface` field: subjectOf.

I can query a document and get its work, and also get the work's author:
[code]

However, I'd also like to be able to do the reverse, e.g. given a Pers

[2019-06-25 10:16] ChristiaanScheermeijer commented on #17
@alastair that is a bug indeed, but unfortunately, inline fragments aren't supported by the neo4j-graphql library.

For reference:

https://github.com/neo4j-graphql/neo4j-graphql-js/issues/103

[2019-06-26 10:23] alastair opened #22 "Allow non-exact dates"
We have some data that has a non-exact date, e.g. for a composer, Born: circa 1860, Died: circa 1920.
This information should be able to be stored in the CE.

[2019-07-05 09:26] ChristiaanScheermeijer commented on #22
@alastair do you have a suggestion about how this data could be stored?

[2019-07-05 09:45] alastair commented on #22
@musicog might have some ideas about how these kinds of dates are normally stored in linked data

[2019-07-05 12:22] ChristiaanScheermeijer opened #26 "Implement GraphQL pagination"

[2019-07-12 08:57] #19 closed

[2019-07-24 14:30] musicog commented on #22
Sorry for the delayed response, I missed this originally.

Unfortunately I don't have any satisfying response here -- approximate / uncertain dates are still somewhat an open problem for Linked Data; and it's a big problem, particularly in early publishing.

In a previous project around publishing the Early English Books Online (EEBO) corpus as Linked Data, we ended up defining our own precise- an

[2019-08-01 15:33] alastair commented on #21
Looking into this, I see that the inverse of the subjectOf property is about:
https://schema.org/subjectOf
https://schema.org/about

I can get this inverse relationship to work by changing the definition of MusicComposition.about:
https://github.com/trompamusic/ce-api/blob/5850b5440d2df9536f539836d3acd443363a3c33/src/schema/type/MusicComposition.graphql#L86
from `about: [ThingInterfaced] @relation

[2019-10-02 15:17] alastair opened #29 "Definitions for ControlAction actionStatus"
The documentation for ControlAction.actionStatus says that it's based on schema.org/actionStatus:

https://github.com/trompamusic/ce-api/blob/2cd07c898c56da245743aa3c2338cc56f40ac8c4/src/schema/type/ControlAction.graphql#L56

However, schema.org only defines 4 statuses, and there are 8 in the CE. It'd be good to have some additional documentation which describes which ones are additional, and thei

[2019-10-02 15:22] alastair opened #30 "Storing semantic information in graphql documentation"
In the json-ld patch, we're using the semantic web properties from the graphql schema to define the format of the output. Copying [a comment of mine](https://github.com/trompamusic/ce-api/pull/23#discussion_r320147710) here for further discussion so that we can merge json-ld as-is.

I don't like the idea of repurposing the documentation/description fields of the schema to provide semantic meaning.

[2019-10-02 15:27] musicog opened #31 "JSON-LD export: maintain a global @context once CE development stabilises"
Currently (once JSON-LD support is merged in), src/routes/helpers/transformers.js defines the JSON-LD @context for the node-to-be-exported, and then translates each property URI into a scoped URI (where a corresponding context entry is available). Rather than sending the full @context along with every response, it would be nice to publish a "global" context at a specified URI (e.g. https://trompam

[2019-10-09 14:11] alastair commented on #9
It would be nice to clarify this in the Readme, and also clarify how strongly we should adhere to eslint messages (I see you have been deleting a number of codacy messages, should we update eslintrc in this case?)

[2019-10-09 14:21] alastair opened #32 "Decide what precision of integers we need for the API"
Continuing on from https://github.com/trompamusic/ce-api/pull/23#discussion_r319992632

Neo4j supports 64 bit integers, but javascript only supports 53 bit, so the neo4j client for js has its own Integer class which includes "low" bits and "high" bits. These methods have a toInt() method (to make a js int, for values < 2^53-1) or toString() to represent the number as a string: https://github.com/n

[2019-10-10 12:06] ChristiaanScheermeijer commented on #9
Yes, good idea.

I've been removing the `Unnecessary block` errors which I've also turned off in the Codacy settings. `import { named } from 'dependency'` is fine in my opinion.

[2019-10-21 08:57] alastair opened #35 "Include subscription service for new items added to the CE"
Some algorithms that we expect to run within the CE will be run by a partner on all documents that exist in the CE.
As an example, MTG might want to run MFCC calculations on all audio files added to the CE, regardless of who adds these documents.

We are proposing to add a subscription endpoint to receive notifications each time a DigitalDocument is added to the CE.
We're not sure if the subscript

[2019-10-24 13:21] ChristiaanScheermeijer commented on #16
@alastair has this been fixed for you in the latest release?

[2019-10-24 13:57] alastair commented on #16
Yes, I tested it again and it seems to work for me.

[2019-10-24 13:57] #16 closed

[2019-10-29 15:37] musicog opened #37 "Proposal on person descriptions"
In the current CE data model, "Person" nodes have required "description" properties that are intended to include biographical descriptions of the person.

This is potentially problematic, as our "Person" nodes actually represent web resources _about_ a particular person within a variety of different repositories. Not all relevant repositories contain biographical information.

My proposal is to ma

[2019-11-28 12:49] alastair opened #39 "_ThingInterfaceInput definition is missing fields"
I'm running into a really weird issue which I'm unable to get my head around:

I rebuilt the Docker image with node 10.13's debian package in order to do some debugging. While running the Algorithm runner mutations, I received an error from the CE:

Looking at the docs/schema in the web interface, I see that this input is missing the `type` field:

![Screenshot 2019-11-28 at 1 41 28 PM](https://us

[2019-11-28 12:54] alastair commented on #39
Looking into these types in more detail, I see other issues:

`_PropertyInput`, `_PropertyValueInput` and `_OrganizationInterfaceInput` don't show all defined fields, in the same way as `_ThingInterfaceInput`

_ProvenanceActivityInterfaceInput is defined:
![Screenshot 2019-11-28 at 1 52 48 PM](https://user-images.githubusercontent.com/19217/69807763-6140ac00-11e6-11ea-88de-60fbc15ad898.png)
but sh

[2019-11-28 16:39] alastair commented on #39
I've tracked the cause of this down to the same issue as #16
Because we still don't include package-lock.json in the Dockerfile, npm installs the latest version of some packages. For example,

[code]

It's possible that something important has changed in neo4j-graphql-js since then (https://github.com/neo4j-graphql/neo4j-graphql-js/blob/master/CHANGELOG.md, since the issue is with generating the s

[2020-01-06 15:12] musicog opened #42 "Controlled vocabulary for instrumentation ("medium of performance")"
**Issue:** TROMPA users will need to be able to filter musical scores according to their medium of performance, that is, the instrumental parts that comprise the score.

**Currently** this metadata is associated with a score as a textual string via dc:subject. This is problematic for several reasons:

1. consistency is important if this information is going to be used for search and filtering, thu

[2020-01-07 09:01] ChristiaanScheermeijer commented on #32
Hi @alastair,

Just checking, if we change this in the next version, will this break any existing implementation?

[2020-01-07 11:05] alastair commented on #32
I don't think it'll break anything. What way do you think you'll fix it? By making all fields integers, making all fields strings, or changing their behaviour to be integer up to 2^53-1 and string afterwards?
All of our integers until now are very small (e.g. < 1000), so we definitely don't have a problem using integers at the moment. I really don't see a chance of us having numbers over 900719925

[2020-01-07 14:25] ChristiaanScheermeijer commented on #32
Me neither, I think it's safe enough to enable native numbers in Neo4j. Agreed?

https://github.com/neo4j/neo4j-javascript-driver#enabling-native-numbers

[2020-01-07 14:45] alastair commented on #32
sounds good to me

[2020-01-07 14:52] ChristiaanScheermeijer commented on #35
We will start working on this feature very soon. We've talked about two possible solutions:

1) Add a single subscription where you can limit the notifications to a few (or single) types. E.g.

[code]

2) Add a subscription query for every type in the CE.  Given this could take quite some time to implement per type, for which types do you really want to receive mutations? I will make sure the foll

[2020-01-07 15:48] musicog opened #43 "Requirements for score annotation / MEI improvement"
This ticket records observations from a discussion between myself and @alastair around score annotation and crowd-based MEI improvement. No direct action required as yet, though there are implications for the use cases and for the multimodal component.

1. Repertoires for use cases that require score annotations **must** be available in MEI format, as the semantic hierarchy and addressability prov

[2020-01-07 15:55] musicog commented on #35
From a discussion with @alastair today pertaining to scores (as PDFs and as MEI and MusicXML encodings) I suspect option 2 will be required (sorry!)

Please could you ensure that `MediaObject` is included, and that a filter based on `encodingFormat` is possible.

[2020-01-07 16:34] alastair opened #44 "Review required fields"
Some fields are required on ThingInterface (name, description), which makes them required on all items. Sometimes we find that we don't have useful information for some of these fields.
In addition, many types also have a title field, which is often required too. In the case where both name and title are required, should we make name non-required?

[2020-01-07 16:37] alastair opened #45 "How to add ListItems to an ItemList"
I'm looking at the documentation to determine how to add a ListItem to an ItemList.
There is AddListItemNextItem, but this seems to be related to ordering items once they are already in a list.
It looks like we're missing the `itemListElement` field from https://schema.org/ItemList

[2020-01-08 09:07] ChristiaanScheermeijer commented on #44
@alastair is it correct that the Dublin Core [title](https://www.dublincore.org/specifications/dublin-core/dcmi-terms/2012-06-14/?v=elements#title) property has the same meaning as the schema.org [name](https://schema.org/name) property? If so, shouldn't we make this into a single property?

[code]

Although, after that change, the property name doesn't match, the JSON-LD converter should convert

[2020-01-08 09:09] #39 closed

[2020-01-08 09:36] alastair commented on #44
@musicog please confirm if what Christiaan says is correct

[2020-01-08 09:37] alastair commented on #39
Do we want to look at upgrading some dependencies for the CE as well? To be from 2.4 -> 2.9 is quite a gap. I worry that if we don't upgrade it will become even more difficult in the future.

[2020-01-08 09:48] baukef commented on #39
@VincentCouzij is working on that right now!

[2020-01-08 09:53] alastair opened #46 "Improve documentation for currently used node types"
The documentation for CreateEntryPoint and other mutations for the algorithm integration is lacking information. For example, I don't know what the fields contentType and encodingType should be. The documentation on schema.org (https://schema.org/EntryPoint) say

contentType | Text | The supported content type(s) for an EntryPoint response.
encodingType | Text | The supported encoding type(s) for

[2020-01-08 10:25] alastair commented on #35
From a pragmatic view, I don't think the CE is going to be getting items added to it at a scale which requires server-side filtering. I see server-side filtering being required if we were receiving thousands of items per hour, which from our discussions so far seems like will not happen.
If it is easier to do 1., then I recommend that we use this process, and then in the future if we see a clear r

[2020-01-08 10:50] ChristiaanScheermeijer commented on #46
@alastair I see your problem. Unfortunately, I don't have the answer either. We might be able to come to a solution by discussing this using this issue.

1) To answer your question `Do the values have an effect on how the algorithm runs`; No, the CE-API nor the algorithms should use these values. As a matter of fact, it only defines which content type the EntryPoint accepts and what content type i

[2020-01-08 10:52] ChristiaanScheermeijer commented on #45
While it is defined in the [schema](https://github.com/trompamusic/ce-api/blob/staging/src/schema/type/ItemList.graphql#L39), I can't find it either in the GraphQL docs. We will investigate what the issue is.

[2020-01-08 11:09] ChristiaanScheermeijer commented on #35
Ok, based on the feedback we will try implementing the first solution and we will also add a separate subscription for MediaObjects with an `encodingFormat` filter, agree?

[2020-01-08 11:12] musicog commented on #35
Sounds sensible to me

[2020-01-08 12:07] alastair commented on #43
This has some effect on the model that we use to store items in the CE.
Currently we have Composers (people), MusicalWorks (works), and DigitalDocuments (files that represent the works). @musicog has suggested that instead of DigitalDocument, we use MediaObject, which has additional fields that allow us to specify more concrete data about the encoding.
In the case of scores, it seems likely that w

[2020-01-08 12:10] ChristiaanScheermeijer commented on #29
I see the statuses are totally different from the statuses defined in the schema.org definition. Would we like to align these?

- ActiveActionStatus
- CompletedActionStatus
- FailedActionStatus
- PotentialActionStatus

[2020-01-08 14:01] musicog commented on #44
In general, the DCMI's (experimental, proposed) mappings to schema.org model dc:title as a sub property of schema:name, which makes intuitive sense to me. I.e., they are related, but not equivalent, with title being a narrower / more constrained name.

Whether this mismatch will lead to any problems in our case remains to be discussed; consider for example the Wikipedia article https://en.wikipedi

[2020-01-08 16:03] alastair commented on #44
Does that solve our specific problem? In the case of name/title I guess we have the following options:
 * make one or both of title and name optional
 * make name and title the same field
 * keep both of them required and require that they're always set to the same value
 * keep both of them required and make sure that one is always more constrained if possible

in json-ld, do you have an idea as

[2020-01-08 16:04] alastair commented on #29
I think we are probably OK with just the schema.org values. I don't see a requirement for the "intermediate" values in the current enum.

[2020-01-08 16:07] musicog commented on #44
I would propose making name required (I can't think of anything in the CE that we wouldn't want to have a human-legible label)

[2020-01-08 16:09] musicog commented on #44
(sorry, accidental closure)

[2020-01-09 14:29] ChristiaanScheermeijer commented on #21
Hi @alastair,

I like the last suggestion. You shouldn't have to add relations twice if it is an inverse property.

[2020-01-09 14:34] alastair commented on #21
I've already done this here: https://github.com/trompamusic/ce-api/pull/36, so I think we can close this and use this as the process from now on.
It looks to me like all of these fields may have been generated, and (almost) all of them have direction: "OUT". Do we want to change them to IN where needed when we see that the relationship exists, or should we go and audit all fields and fix them all

[2020-01-09 14:46] ChristiaanScheermeijer commented on #21
I'd prefer to audit all fields and change them in a single batch.

Regarding your question: `What would the relation be to ask for all of the compositions of a person?`

I see there is no reverse property for the [composer](https://schema.org/composer) property. However, with the neo4j-graphql-js update this can be achieved by using the following query:

[code]

You can also query for the `name` p

[2020-01-09 15:21] alastair commented on #21
One of the key features that graphql says is an advantage of their tool is that you can ask specifically for the data that you need, and get the data back in a single response. If we need to do multiple requests then we may as well use a REST API.

We should confirm with @musicog how we should model person / composition objects and what the field values should be. It's possible that there are some

[2020-01-09 15:35] ChristiaanScheermeijer commented on #21
You mean if you want to query all composers and also get all of the related compositions? For example like so:

[code]

[2020-01-09 15:42] alastair commented on #21
yes, right. it would be great to be able to get all related information like this in a single query.

[2020-01-14 09:55] #29 closed

[2020-01-14 10:08] alastair opened #49 "Release current staging on api-test"
Can we clear the database on api-test.trompamusic.eu and release the current staging branch? (I know that it doesn't have #48 yet, but we need to do some tests with @asarasua and need something more up-to-date than the current version)

[2020-01-14 10:38] ChristiaanScheermeijer commented on #49
Hi @alastair, the test environment is actually using the latest commit from staging. However, I've just found out a lot of data is missing essential labels in the neo4j database. This is causing relational queries not working.

Are you sure that we can completely clear the database?

[2020-01-14 10:39] alastair commented on #49
yes, deleting everything is fine, there are old items there from when we were still deciding the correct schema to use. I can recreate data using the most up-to-date schema if you clear it.

[2020-01-14 10:53] ChristiaanScheermeijer commented on #49
`Deleted 17409 nodes, deleted 16123 relationships, completed after 322 ms.`

[2020-01-14 10:54] #49 closed

[2020-01-14 10:59] ChristiaanScheermeijer commented on #45
@alastair this mutation is now auto-generated:

[code]

[2020-01-14 10:59] #45 closed

[2020-01-14 11:04] alastair commented on #49
is #48 in staging?

[2020-01-14 11:37] ChristiaanScheermeijer commented on #49
Yes, are you missing something?

[2020-01-14 11:41] #26 closed

[2020-01-14 12:52] alastair commented on #49
not missing anything, I just wanted to confirm that the change from AddThingInterfaceThingInterface -> AddDigitalDocumentAudio and MergeDigitalDocumentAudio existed for all our types so that I can update my tools. thanks.

[2020-01-14 15:39] alastair opened #50 "UpdateMusicalComposition overrides all existing compositions"
Run these two mutations:
[code]

[code]

See that the two compositions exist:
[code]

Perform a query to update an existing composition:
[code]

Now when you query for the compositions, both of them have been set to the same document:
[code]

[2020-01-14 15:42] alastair commented on #50
I don't know if this happens for other types as well.
The general way that I do data loading is to first check for an item with the given source, if it doesn't exist create it, if it does exist get the identifier and call `Update...`, specifying the identifier in the field list, in order to update any fields that may have changed since the last time it was added.

[2020-01-14 15:43] ChristiaanScheermeijer commented on #50
I see that the UpdateMusicComposition query results in the following cypher query:

[code]

[2020-01-14 15:54] ChristiaanScheermeijer commented on #50
@alastair I've just pushed a commit which fixes this issue by making all `identifier` properties the first property in the type definition.

[2020-01-14 16:41] ChristiaanScheermeijer commented on #50
https://github.com/neo4j-graphql/neo4j-graphql-js/pull/378

[2020-01-15 09:50] alastair commented on #50
This looks good now, I can run my data load script multiple times and the data stays the same.
Can you please clear the database in api-test again?

[2020-01-15 11:58] ChristiaanScheermeijer commented on #50
Nice! I will do that

[2020-01-15 11:58] #50 closed

[2020-01-15 12:03] ChristiaanScheermeijer commented on #50
@alastair cleared all nodes

[2020-01-15 12:29] ChristiaanScheermeijer commented on #18
This is solved by #48

[2020-01-15 12:29] #18 closed

[2020-01-15 12:36] ChristiaanScheermeijer commented on #20
With #48 there are now filters for all queries. However, I see that for interfaced relations there are no filters generated.

The following query works:

[code]

But `composer` will not:

[code]

I will have to dive into the neo4j-graphql-js library to see what the problem is.

[2020-01-15 12:53] ChristiaanScheermeijer commented on #21
@musicog do you have a suggestion regarding:

[2020-01-15 13:21] #9 closed

[2020-01-15 14:43] ChristiaanScheermeijer commented on #50
Hi @alastair, would it be possible to populate the ce-api with some data?

[2020-01-15 14:57] alastair commented on #50
running the importer now

[2020-01-16 09:29] #32 closed

[2020-01-16 09:29] #37 closed

[2020-01-16 09:29] #44 closed

[2020-01-20 11:29] alastair opened #54 "should you be able to query parent types"
after a discussion with Werner and David W at the Jan meeting

We have compositions added as MusicCompositions.

If you do a query for CreativeWork:
[code]

You get no results back. As a hypothetical question, do we think that this query should also return all of the compositions? (and all other subclasses)

[2020-01-20 15:41] ChristiaanScheermeijer commented on #54
I actually exclude interfaces from being autogenerated to queries here: https://github.com/trompamusic/ce-api/blob/staging/src/schema.js#L25

If we remove that, it becomes possible to run this query:

[code]

[2020-01-20 15:59] baukef opened #55 "modelling versions of content"
Probably already solved with "version" (CreativeWork) and "sameas". This is important for choir usecase (A.S.)

[2020-01-20 16:00] demmyhonore opened #56 "Graphical interface to show state of algorithms"
UPF,

[2020-01-20 16:00] demmyhonore opened #57 "Model different editions / arrangements of a work"
Different pdf?
MDW

[2020-01-20 16:01] demmyhonore opened #58 "Field describing node as with "restricted" access"
E.g. for user performances.
A.S.
Choir

[2020-01-20 16:02] baukef opened #59 "Associate contributors with users"
Associate contributors with users (query: all performances by Alice). This important for the instrument usecase. (MDW)

[2020-01-20 16:03] demmyhonore opened #60 "Multi-part creative works (e.g. movements)"
Itemlists?
MDW

Insta, scholar, orca

[2020-01-20 16:04] baukef opened #61 "Storing segmentation of scores"
Scholars usecase (MDW)

[2020-01-20 16:05] demmyhonore opened #62 "Multi-composer creative works"
E.g. cadenzas, solo concertos.
MDW.
Insta. Orch. Scholar.

[2020-01-20 16:06] baukef opened #63 "Bulk updates"
Get/update all current annotations of type T conditioned on their metadata. (Julian)

[2020-01-20 16:07] baukef opened #64 "Cron job"
Every so often (eg once a week), a process needs to run to update annotations of type T (Julian)

[2020-01-20 16:09] demmyhonore opened #65 "Notifications whenever a campaign manager opens a new campaign for transcription urls to pdf file"
TUD

[2020-01-20 16:09] david-linssen opened #66 "Query campaign manager status from CE"
To know when a Crowdsourced score is 'performable

added by MDW, relevant for Instrument & Orch case

[2020-01-20 16:10] demmyhonore opened #67 "Keep metadata in ce up-to-date"
UPF.
Scholars/Choirs/Enthusasts.

[2020-01-20 16:14] baukef commented on #46
As discussed today we only need to write documentation for all types for M24.

[2020-01-20 16:16] demmyhonore opened #68 "JS client library for CE"
UPF.
Scholar/Enthusiasts

[2020-01-20 16:17] demmyhonore opened #69 "Store playlists (lists of recordings)"
UPF.
Scholars.

[2020-01-20 16:17] david-linssen opened #70 "Decide where to store the result of algorithms"
submitted by UPF, relevant for Enthusiasts, Choirs, Instrument Players

[2020-01-20 16:17] baukef commented on #35
When a new object is susceptible of annotations of type T, the corresponding algorithms must provide their annotations and store them (Julian D4.1)

[2020-01-20 16:18] demmyhonore opened #71 "Store lists of annotation motivations"
Gold.
Scholars.

[2020-01-20 16:19] david-linssen opened #72 "Authority matching for Data Ingest"
submitted by MDW, assigned to @alastair

[2020-01-20 16:20] baukef opened #73 "Store annotations in CE"
All annotations of type T need to have metadata from a well-defined scheme (Julian).

[2020-01-20 16:20] david-linssen opened #74 "Data validation tools to prevent duplicates/misspellings"
submitted by UPF, relevant for Scholars & enthusiasts use-cases. awarded 3 dots, assigned to @alastair

[2020-01-20 16:20] demmyhonore opened #75 "Annotation tool for type T needs to know what subject to annotate"
Tolkin.
D4.1

(Closet note)

How to model/priority in CE.

[2020-01-20 16:21] david-linssen commented on #74
also submitted by @ChristiaanScheermeijer

[2020-01-20 16:22] demmyhonore opened #76 "Aggregate feature data"
E.g. for all published rehearsals of a piece.

DMW.

(Closet note)

[2020-01-20 16:29] demmyhonore opened #77 "CE authorization"
Don't make my data overwritable.
UPF.
Scholars/Performers/Enthusiasts.

[2020-01-20 16:30] baukef opened #78 "Production environment for CE API"

[2020-01-20 16:33] baukef opened #79 "How to model priority in CE"
The annotation tool for type T needs to know what object to annotate, through its medadata. (Julian, D4.1)

[2020-01-20 16:34] david-linssen commented on #74
Scope for M24 is: import existing relations from IMSLP/Wikipedoa/MusicBrainz

[2020-01-20 16:45] david-linssen opened #80 "Aggregate Feature Data"
e.g for all published rehearsals of a piece

submitted by MDW, relevant for intrument players case
by @musicog

[2020-01-20 16:53] baukef commented on #70
First proposal is to store this in the AWS S3 Trompa account managed by Videodock.

[2020-01-21 11:06] alastair commented on #58
Performer usecase will have midi files from user performances. They will want to run algorithms, but the rehersal should be private until the user decides to publish it
@musicog

[2020-01-21 13:19] baukef commented on #70
Please send your request for a AWS 'key_id' and 'secret' to the Videodock support e-mail address.

[2020-01-21 15:18] baukef commented on #46
This ends up in the GraphQL docs and in the D2.3

[2020-01-21 15:20] baukef commented on #30
Deadline M23.5

[2020-01-21 15:29] alastair commented on #58
can we use `requiresSubscrition`?

[2020-01-21 15:41] baukef commented on #63
Can we consider this as nice to have?

[2020-01-21 15:42] alastair commented on #64
If the schema.org interface ControlAction stuff provides this functionality in the schema, implement it.
If it doesn't, we could host a docker container which runs cron and creates the controlaction for the algorithm to pick up.

[2020-01-21 16:15] musicog commented on #70
TROMPA applications have application-level accounts in the CE.
TROMPA applications create objects in S3 buckets for authenticated users.
If the uploaded content is "private", the application sets permissions in the S3 bucket so that only *it* (the application) can read the item.

Users access their objects in the S3 buckets *through* the TROMPA application.
A different user attempting access throu

[2020-01-21 17:51] baukef commented on #70
@musicog Should we really refer to this as CE?
Just to be sure: we all agree that this data can't contain personal data (and/or personally identifiable information), right?

I also assumed that this data is public data and temporary. The idea is to contribute to existing (third-party) repositories for long-term valuable data as much as possible.

I would like to propose that we auto-delete these S

[2020-01-22 11:54] alastair opened #81 "Make some fields optional"
From our discussion on modelling during the Amsterdam meeting we decided to make the subject field optional, like we did with description (https://github.com/trompamusic/ce-api/pull/53)

[2020-01-24 16:42] baukef commented on #78
@alastair @musicog Unfortunately, we were not able to fully tackle authentication this week and we are wondering whether it is better to wait with the production release until we have authentication in place. What do you think/prefer?

[2020-01-27 11:07] alastair commented on #78
I think you're right - the time we spent looking at the data modelling also shows us that we have to make some changes to the way that the data will be stored, so we need to work on that for another week or so as well before we get data into a production environment.

My only current concern is that if we push this back too much again then use-cases will delay their integration even further and it

[2020-02-05 08:12] baukef commented on #70
FYI Neo4j now also supports private data.

"With Neo4j 4.0, developers and administrators now have more control over access to data for security and privacy purposes. These granular security controls ensure that only the appropriate users have access to sensitive data, opening up potential new graph use cases in areas such as patient information in medical research."

https://neo4j.com/whats-new-i

[2020-02-12 16:12] alastair commented on #81
In discussion with @musicog we have two more proposals for optional fields:

__language__: In the guidelines, this should be the language of the _metadata_. In some cases we know this: https://musicbrainz.org/work/14514e77-f06c-4d24-a4d5-9a5962acae64
Das Lied von der Erde -> de, The Song of the Earth -> en, however the language field isn't required in MusicBrainz, which means that there may be ite

[2020-02-12 16:13] alastair commented on #81
@ChristiaanScheermeijer if you're OK with these changes, I'll make them this week. We need the changes to finish data import before you start your next sprint.

[2020-02-12 16:55] alastair opened #82 "Remove fields that aren't used"
when @musicog and I were going over some schema design we bought up the idea of removing fields and types that we're currently not using in the CE

arguments for:
 - There are a _huge_ number of data models currently in the CE, but we're not even sure if we're going to use them all. Every time we need to make a major change to something we end up making lots of changes, for data types that aren't

[2020-02-18 15:05] alastair opened #83 "add has medium of performance relationship"
@musicog suggested we add this relationship - todo: add more detail what and why

[2020-02-18 15:09] musicog commented on #83
[rdau:P60537](http://www.rdaregistry.info/Elements/u/#P60537) (""has medium of performance of musical content") -- see more detail in #42

[2020-02-18 16:13] alastair commented on #83
Ah, I wasn't aware that we already had this open as a ticket.

[2020-02-18 16:13] #83 closed

[2020-02-20 10:09] musicog opened #85 "Export additionalType as additional rdfs:types ("@type") in JSON-LD"
It would be useful if we could convert additionalType values into list additions to "@type" in the JSON-LD export of CE nodes. That is, ensure that the value for "@type" is a list that contains both the CE node's type, and any additionalTypes.

(as discussed with @alastair)

[2020-02-20 10:11] musicog opened #86 "Let Annotations be schema:Things"
As discussed with @alastair, model TROMPA Web Annotations as Things (as well as Annotations), probably using additionalType, so that we can store them within ItemLists

[2020-02-20 10:18] musicog opened #87 "Define https://trompamusic.eu/vocab route"
Please could we modify the TROMPA web server to point https://trompamusic.eu/vocab to an RDF resource (which I will provide)?

Extra bonus points if we can get it to respect content negotiation, i.e. return vocab.json if Accept header is "application/json" or "application/ld+json", and vocab.ttl if Accept header is "text/turtle".

(per discussion with @alastair)

[2020-02-20 10:19] musicog commented on #87
To be clear, I can provide the file(s) for hosting on the TROMPA server; it doesn't need to proxy to somewhere else.

[2020-02-20 10:45] VincentCouzij commented on #87
Hello @musicog for paths off the main domain we can do redirect `HTTP 301 Moved Permanently` to a url of your choice. However this is not something that we can do for a large amount of files. We could create a subdomain `NAME.trompamusic.eu/vocab` that points to your "server" (A or CNAME DNS record) or in this case to a bucket in our S3 storage where you could put the files.

With S3 it is possibl

[2020-02-20 10:47] alastair commented on #87
would it be possible to serve these directly off the server that hosts trompamusic.eu? These files won't have to be modified much once they are created. When David said "point to a resource" he just means "serve a specific file", not a redirect.

[2020-02-20 10:57] alastair opened #88 "add DefinedTermSet and DefinedTerm"
https://schema.org/DefinedTermSet
https://schema.org/DefinedTerm

These definitions are still pending, but fit our requirement of collections of tags perfectly (better than ListItems), so we think it's a good idea to add it.

[2020-02-20 11:06] VincentCouzij commented on #87
The server that runs trompamusic.eu right now is not meant as a durable file storage and only runs the website. Our preference would be to setup a subdomain to S3 where you can put the files and edit when needed.

[2020-02-20 11:12] musicog commented on #87
https://vocab.trompamusic.eu/vocab would also be fine. I'm happy to supply the separate files. In an ideal scenario and if it's no extra work to set up, I'd like:

"application/json" and "application/ld+json" => vocab.json
"text/turtle" => vocab.ttl
"text/n3" => vocab.n3
"application/rdf+xml" => vocab.rdf

Ideally they would all be served as "vocab", without a suffix.

n.b. the mime type for json-

[2020-02-20 11:48] alastair opened #89 "some ThingInterface definitions use pending.schema.org"
https://github.com/trompamusic/ce-api/blob/5691433fa14052d02c8f15af07f49b032956abee/src/schema/interface/ThingInterface.graphql#L25-L28
subjectOf and url are listed here with the pending.schema.org namespace, but use schema.org in the types that implement this interface. I guess it shouldn't be a problem to update them.

[2020-02-24 14:36] VincentCouzij commented on #87
As far as I know different returns based on content type is not something that is possible with S3 storage.

I wil put the creation of a subdomain and bucket on our planning to discus internally and then I will come back to you.

[2020-02-25 08:48] CasperCDR commented on #74
Preventing duplicates for external sources can be reached by adding a [unique node property constraint](https://neo4j.com/docs/cypher-manual/current/administration/constraints/) on the source property for example. The identifier field can also be used, but is now filled with a uuid.  The identifier (based on Thing) could also be the source uri. Are there any implications when doing this? If this i

[2020-02-26 13:09] alastair opened #91 "_Neo4jDate field doesn't allow partial dates (year or year-month)"

[2020-02-26 13:28] alastair opened #92 "Determine how to model one-to-many relationships"
We have a few cases where we want to model a one-to-many relationship.
 - EntryPoint#potentialAction
 - DefinedTerm#inDefinedTermSet

Using the neo4j-graphql-js library we haven't found a good way to do this. Currently we use `@relation` to define a many-to-many relationship.

@ChristiaanScheermeijer suggested that we could try and use [Neo4j constraints](https://neo4j.com/docs/cypher-manual/curre

[2020-02-26 13:50] alastair opened #93 "schema: how to model a field which can be a URL or an object"
In the Annotation schema, we have some fields (e.g. target) which are defined as a URL.
However, sometimes these urls refer to items which exist in the CE database. In this case, I think it makes sense that we represent this as a relation in the neo4j database.

In this case, we may have a MediaObject with the following fields:
 - id
 - url (repository that this file is on)
 - contentUrl (link to

[2020-02-26 13:51] alastair commented on #93
Related to this - is the preference to have a separate file in the schema directory for each type and interface, or can we combine related types together in a single file?

[2020-02-26 14:20] #88 closed

[2020-02-26 14:21] #81 closed

[2020-02-26 16:23] alastair opened #94 "determine lifecycle of objects in the CE (created/updated)"
We are using dublin core in the CE, and therefore we have access to `dcterms:created`, which we can use to indicate when a node in the CE was created. This is useful for things like seeing if something should be updated (if we loaded metadata from MusicBrainz or Wikipedia and want to update it), or seeing when an Annotation was created.

In the case that something is modified (using the _Update_ m

[2020-02-27 10:32] alastair commented on #94
David pointed out dcterms:modified is what I was looking for, rather than 'updated'. For now I'll use this. There are some open questions to discuss about whether we use only dcelements, only dcterms, or some combination of the two.

[2020-02-28 10:20] musicog opened #96 "Transition from dc elements to dc terms namespace"
Wim originally chose the (more constrained) dc elements namespace for formalisation of bibliographic properties in the CE schema. We are now bumping into the limitations of the 15 elements included therein; e.g. there exists a way to capture a generic "date", but not to differentiate between a "date created", a "date submitted", or a "date modified", which is emerging as a requirement.

Given that

[2020-02-28 10:23] musicog commented on #94
See #96

[2020-03-03 11:47] alastair commented on #86
@musicog can you explain a bit more detail how additionalType may work?
At the moment when we render an item to json-ld, its type is that which is defined a the top of the schema file.
For example, a DigitalDocument is defined as being both a Thing and a CreativeWork:
https://github.com/trompamusic/ce-api/blob/staging/src/schema/type/DigitalDocument.graphql

We've not been mandating that these ite

[2020-03-03 11:49] alastair commented on #74
For duplicates from the same database, we can use the `source` field. This will be the exact link to the page where the data was collected from, e.g. https://musicbrainz.org/artist/8d610e51-64b4-4654-b8df-064b0fb7a9d9 or https://www.wikidata.org/entity/Q7304

For M24 we will import data from:
 * MusicBrainz
 * WikiData
 * IMSLP
 * CPDL
 * muziekweb
 * viaf (if it exists in one of the above)
 * lib

[2020-03-03 16:43] musicog commented on #86
Your example specifically does *not* require additionalTypes to be specified since schema:DigitalDocuments are rdfs:subClassOf schema:CreativeWork (which are in turn rdfs:subClassOf schema:Thing) -- see https://schema.org/DigitalDocument.ttl and https://schema.org/CreativeWork.ttl

However, oa:Annotations are *not* rdfs:subClassOf schema:Thing, since schema.org and the Web Annotations Data Model a

[2020-03-04 10:54] alastair commented on #86
Thanks for the explanation. This distinction is clear to me now.
It'd be nice to make this happen automatically when we create an Annotation using the APi.
@ChristiaanScheermeijer, do you know if it's possible to add some additional logic only to CreateAnnotation so that we automatically fill in a field if it's not provided by the user?

[2020-03-04 13:45] alastair commented on #86
related: #85

[2020-03-09 15:29] ChristiaanScheermeijer commented on #17
@alastair, this bug has been fixed 🎉

[2020-03-09 15:29] #17 closed

[2020-03-10 12:32] alastair commented on #17
great, thanks!

[2020-03-10 15:19] ChristiaanScheermeijer opened #97 "Types should implement the same required fields as ThingInterface"
In PR #84 we've made some fields optional. However, the CE-API returns an error when using an interface fragment on a type with conflicting properties.

The conflict (required vs optional):

https://github.com/trompamusic/ce-api/blob/2f110d4b4705c5c3df463329dab1ed233294915f/src/schema/interface/ThingInterface.graphql#L19-L20

https://github.com/trompamusic/ce-api/blob/2f110d4b4705c5c3df463329dab1e

[2020-03-11 09:49] alastair commented on #97
From my comment in the original PR:

So it looks like it is necessary to make it optional in ThingInterface and in all subclasses of this.
However, because types like ControlAction are also a Thing, this makes name optional here.

@musicog I looked at the definition at https://schema.org/name and https://schema.org/ControlAction and it seems that there is nothing in schema.org that defines that a

[2020-03-11 12:25] ChristiaanScheermeijer commented on #97
@alastair I've found this comment stating that schema.org doesn't dictate fields that are required.

https://github.com/schemaorg/schemaorg/issues/1177#issuecomment-220811543

If schema.org doesn't define which fields are required, I guess we should define the required fields. However, the important part is that if this is a field on ThingInterface, it should be changed in all types implementing t

[2020-03-11 14:08] alastair commented on #97
Great, thanks for finding this.
As we have a clear requirement for having names optional, I will make a PR that changes all name fields on types that inherit from ThingInterface to be optional.

[2020-03-12 15:12] alastair commented on #97
In our case, ThingInterface and ActionInterface both have a name field, and types such as Action and ControlAction inherit from both of them.
One option would be to require people to use fragments on ActionInterface when getting data from Action/ControlAction, instead of ThingInterface. This would allow us to keep these items required.
Or for simplicity do you think it'd be easier to just make eve

[2020-03-13 14:06] alastair commented on #97
Sorry, I didn't look carefully enough, ActionInterface doesn't define name.

[2020-03-16 12:28] ChristiaanScheermeijer opened #103 "ControlAction participant"
@alastair @musicog for the Campaign Manager we would like to store the username of the person who is contributing by doing some ControlActions.

The ControlAction has the `agent` and `participant` properties which seems to be the right place to put this kind of information. However, both properties should be of type Person or Organization according to schema.org.

What do you think?

[2020-03-16 12:33] alastair commented on #103
In the modelling discussion (https://docs.google.com/document/d/1B1O2tqaubbEHzXSWhvSDYqYu2lwdNKg4Vy04ukMfrUU/edit?pli=1) we discussed this a little bit for the Annotations use-case.
We're proposing that we use a user's vcard uri for the `creator` field. The vcard uri is the uri that identifiers a user on a solid pod.
Can you use something similar for ControlActions?

[2020-03-16 12:38] ChristiaanScheermeijer commented on #103
The ControlAction is only implementing schema.org properties, can we safely implement the Dublin core metadata interface as well (where the creator property is defined)?

[2020-03-16 13:17] alastair commented on #103
We included [dc items in the Annotation schema too](https://github.com/trompamusic/ce-api/blob/3e5abef134af8e784fc7c31fdb17dea17cffb060/src/schema/type/Annotation.graphql#L88-L92). @musicog said that if there's no equivalent in schema.org then it's OK to pull in specific items from dc if needed.
Note that this also ties into #96 a bit too, deciding which dc schema we want to use. I see that I use

[2020-03-16 13:38] ChristiaanScheermeijer commented on #93
The proposed schema looks good to me.

We currently have a separate file for each type, but this probably because most of the types have a lot of properties. I don't mind defining multiple types in a single file.

Interfaced relations is the prefered way for relations with multiple types. See the usage of`LegalPersonInterface` for example. Before the [update](https://github.com/trompamusic/ce-api/

[2020-03-16 14:28] #97 closed

[2020-03-16 14:31] ChristiaanScheermeijer commented on #94
Should we close this issue in favour of #96?

[2020-03-16 14:34] musicog commented on #94
Yes, I think this issue is duplicated in #96

[2020-03-16 14:34] #94 closed

[2020-03-16 15:52] ChristiaanScheermeijer commented on #91
Another downside of updating the fields to type `string` is that it isn't possible anymore to search nodes in the CE API with a date range.

For example:

[code]

[2020-03-17 08:56] ChristiaanScheermeijer commented on #91
I've been researching this topic some more and would like to propose a "solution".

If we follow the [date](https://schema.org/Date) definition, the `birthDate` property, for example, should be an ISO-8601 string. Because we are using Neo4j Graphql, it has been decided to use the `_Neo4jDate` and `_Neo4jDateTime` temporal types for date objects. This prevents users from entering uncertain dates.

[2020-03-17 15:56] alastair commented on #93
Great. So the way which I'm doing it seems OK to you? (it's not clear to me if this was just a comment or if you were suggesting to do something slightly differently)

I did think about that, but my preference is to use the type system to enforce these fields, instead of having all fields on a single type and then having a different behaviour depending on what field is set. Doing it like this make

[2020-03-18 12:19] ChristiaanScheermeijer opened #105 "Authentication using WebID"
As discussed in https://github.com/trompamusic/ce-api/pull/98#discussion_r392920415 it is difficult for front-end only applications to create a JWT token.

We should figure out if we can create a solution to generate tokens using the [WebID protocol](https://www.w3.org/wiki/WebID) proposed by @musicog.

[2020-03-19 08:07] #77 closed

[2020-03-19 09:47] musicog commented on #105
Perhaps informative: https://github.com/solid/webid-oidc-spec

[2020-03-19 14:25] #35 closed

[2020-03-19 17:40] alastair opened #106 "ControlAction has startTime and startedAtTime"
https://schema.org/ControlAction lists startTime and endTime, but we also have prov-o startedAtTime and endedAtTime: https://github.com/trompamusic/ce-api/blob/5f778486a79b4cb26d815e184502b8fae8c5851a/src/schema/type/ControlAction.graphql#L48

Do we know why we have both? Do they mean the same thing?

[2020-03-20 17:31] alastair opened #107 "Error when deleting an object that doesn't exist"
In this case I tried to do DeletePerson with `identifier: "a uuid that wasn't in the db"`

[code]

[2020-03-23 09:46] ChristiaanScheermeijer commented on #107
Thanks for reporting @alastair, I've found the problem. This error is returned if the node doesn't exist in the database. However, while investigating, I've discovered that the delete mutation should even be running that particular code (only for create mutations).

I will submit a PR fixing this.

[2020-03-24 13:58] musicog opened #111 "export schema:Persons as dcterms:Agents"
We are using `dcterms:creator` at various places in the data model (e.g., to associate Web Annotations with their creators). This property expects a value of type `dcterms:Agent`.
To fulfil this requirement, please could we modify the semantic (json-ld) export to include `dcterms:Agent` as an (additional) `@type` for any `schema:Person`.

[2020-03-24 14:54] #107 closed

[2020-03-24 14:58] alastair commented on #111
Note that in ControlAction.participant, we're using https://schema.org/participant, which isn't a dcterms:Agent.

[2020-03-24 16:55] ChristiaanScheermeijer commented on #111
@musicog Could you provide us with an example of how the JSON-LD response should look like?

Or is it as simple as:

[code]

[2020-03-24 17:27] alastair opened #112 "automatically set dcterms:created and dcterms:modified when mutations are made"
In some of our types (e.g. Annotation) we want to know when the annotation was made, and if it was changed, when it was changed.
To store this, we have 2 fields, created and modified.
There are 2 ways we can fill these fields. One is to require the client to set them (we can make created required in this case). A problem here is that modified would have to be non-required (and only set when an ite

[2020-03-25 07:53] VincentCouzij commented on #78
The production environment is online and keys are send. I will close this issue.

[2020-03-25 07:53] #78 closed

[2020-03-25 08:28] ChristiaanScheermeijer commented on #112
This feature would make this really easy:

https://github.com/neo4j-graphql/neo4j-graphql-js/pull/364

[2020-03-25 08:29] ChristiaanScheermeijer commented on #112
My preference is to fill these fields automatically as almost any other API does.

[2020-03-25 10:21] alastair commented on #112
That sounds like a nice solution. How much work do you think it is to push this PR along to get it merged into an upcoming release?

[2020-03-25 11:15] musicog commented on #111
Yup, simple as that!

except for the @context fixes already discussed elsewhere...

[code]

(and similar fixes to the URIs in `@type`, or you can just use their prefixed versions there, i.e.
[code]

[2020-03-25 13:39] ChristiaanScheermeijer commented on #93
Yes, as discussed, I think this approach fits best with the current CE schema. Thanks for the explanation and examples.

[2020-03-25 13:39] #93 closed

[2020-03-25 15:56] alastair opened #113 "Add support to run cypher queries on CE startup"
In the current readme: https://github.com/trompamusic/ce-api/blob/5a389e07bb8fc5828e7bc2e3783a3fce6e3b8d5e/README.md#search-indexes

We also have a requirement to run cypher queries during startup for the Annotation schema: https://github.com/trompamusic/ce-api/pull/100/files#r391106249

so we would like to be able to have a hook where we can write some queries to have these commands run each time

[2020-03-31 15:32] alastair commented on #68
Now that we need to authenticate to write to the CE it'd be great if this client library included helpers to swap a JWT token, and set the authentication header on requests

[2020-05-14 10:45] baukef commented on #105
@ChristiaanScheermeijer can you explain what the current status of the implementation is and this related to this feature request?

[2020-11-10 09:40] #113 closed

[2020-11-10 10:43] #111 closed

[2020-11-10 15:45] ChristiaanScheermeijer commented on #96
Fixed with #121

[2020-11-10 15:45] #96 closed

[2020-11-10 16:01] ChristiaanScheermeijer commented on #54
@alastair do we expect that there will be CreativeWorks added to the CE? I would prefer using only the specific [subtypes](https://schema.org/CreativeWork#subtypes) and probably remove the CreativeWork type entirely.

[2020-11-10 16:20] ChristiaanScheermeijer commented on #74
@alastair, in a recent version of neo4j-graphql-js it is possible to add a `@unique` directive to properties which can only exist once in the Neo4j instance. This should also be added for all identifier properties as these can currently exist multiple times.

https://grandstack.io/docs/graphql-schema-directives

[2020-11-10 16:32] ChristiaanScheermeijer commented on #74
I also suggest that we add some custom mutations making it easier to "tag" nodes related to each other. Now we would need to perform multiple queries/mutations to create a bi-directional relationship between two nodes.

[code]

[code]

[2020-11-10 17:46] alastair commented on #54
We have no items in our schema that are only CreativeWorks. We should confirm with @musicog, but I think it's OK to remove it. As you said, we should be able to query all subclasses with something like
[code]

[2020-11-11 08:44] #89 closed

[2020-11-11 08:56] musicog commented on #54
If there is an advantage to removing CreativeWorks from the CE, I agree that it should be of no consequence given our data model (and use of specialised types).

[2020-11-18 19:59] alastair opened #126 "MusicPlaylist only links to MusicRecording, not ItemList"
The [schema definition for MusicPlaylist](https://schema.org/MusicPlaylist) says that the `track` field can be either a MusicRecording or an ItemList.
The [graphql definition](https://github.com/MTG/ce-api/blob/7b88001ec82f627dd75322edcc5012e38ec100c2/src/schema/type/MusicPlaylist.graphql#L249) only appears to link to a MusicRecording. We need to be able to also link to a list here.

[2020-12-12 13:38] aggelosgkiokas opened #128 "RequestControlAction wrong fields"
In the RequestControlAction mutation the property values are not consistent with the ones defined in the ControlAction. I have found two issues (I refer to the example of [ce-poc-algorithm](https://github.com/trompamusic/ce-poc-algorithm) ) :

a) Although we link to the ControlAction three objects two types, one Property and two PropertyValueSpecification, the RequestControlAction mutation returns

[2020-12-14 16:37] aggelosgkiokas opened #129 "RequestControlAction returns SERVER Error if Entrypoint node does not exist"
mutation 	RequestControlAction returns INTERNAL_SERVER_ERROR if entryPointIdentifier does not exist. It should return something like an empty result

[2020-12-16 19:08] aggelosgkiokas opened #130 "RequestControlAction mutation doesn't create the node in the correct form"
After a RequestControlAction action mutation

[code]

Response:

[code]

If we query the ControlActionObject:

[code]

then the list of items of the object list are all returned as PropertyValue objects, and not as **PropertyValue and Property** as requested by the mutation above.

[code]

The work can be still done, but if we want to be consistent with the documentation this should be fixed.

[2021-01-19 21:58] alastair commented on #129
This happens not only if the entryPointIdentifier does not exist, but also if the potentialActionPropertyIdentifier or nodeIdentifier or potentialActionPropertyValueSpecificationIdentifier doesn't exist.

[2021-01-19 23:01] alastair commented on #128
According to the CE API Manual, section 3.2.4, it's correct that PropertyValue is used for the concrete values linked to the ControlAction on the `object` relation for both PropertyValueSpecification and Property. However, the image shown in this section indicated that there should also be a derivedFrom relationship from this PropertyValue which points to the Property or PropertyValueSpecification

[2021-01-25 19:30] alastair commented on #130
@aggelosgkiokas can you confirm if this is still valid? I believe I've already explained in https://github.com/trompamusic/ce-api/issues/128 how Property and PropertyValueSpecification change to PropertyValue when a template is copied to a concrete ControlAction.

[2021-01-29 17:58] hector opened #132 "How to query all scores that have audios"
I need to perform the following query:
- Return `MusicComposition`s
- Return the url of the their score
- Return the url of all their associated audios
- Filter to only return those `MusicComposition`s that have a score url
- Filter to only return those `MusicComposition`s that have associated audios with creator = "https://www.voiceful.io/"

This is my idea of how this could look like:
[code]

Ob

[2021-02-02 17:10] alastair commented on #132
To add some more detail to this, we found that a query such as this:

Returns an error:

The issue is that workExample is a relation to CreativeWorkInterface, but contentUrl is a field on MediaObject and doesn't exist on CreativeWork, so the graphql bindings are unable to generate the expected filter methods.

I had a discussion with @musicog about this. We think that an acceptable solution would

[2021-02-04 15:56] alastair opened #134 "neo4j-graphql-js doesn't generate filters for custom scalars"
We have a custom scalar type `URL` for url fields, but the bindings don't generate filters for them: https://github.com/neo4j-graphql/neo4j-graphql-js/issues/340

This causes us problems when trying to filter on fields that are made up of a URL (#132).
Because we don't do any special validation or use this type for any specific reason, it will be easiest if we switch to `String` for these types.

[2021-02-05 09:12] #132 closed

[2021-02-05 09:12] #134 closed

[2021-02-11 10:37] alastair commented on #21
I think this is fine now, when I opened the ticket I didn't know about the `filter: ` syntax.

[2021-02-11 10:37] #21 closed

[2021-02-11 10:39] alastair commented on #20
With https://github.com/trompamusic/ce-api/pull/133 we fixed this by adding a relation explicitly to the concrete type that we wanted to filter by.
Do we still have a need to filter by the compose of a MusicComposition? If so, we should add this relationship here too

[2021-02-11 10:47] alastair commented on #130
Closing, not an issue

[2021-02-11 10:47] #130 closed

[2021-02-11 10:49] alastair commented on #72
Done in the importer: https://github.com/trompamusic/ce-data-import/

[2021-02-11 10:49] #72 closed

[2021-02-11 12:19] hector commented on #132
For documentation purposes, now this can be done:

[code]

[2021-02-18 18:24] aggelosgkiokas opened #138 "RequestControlAction returns three items"
To reproduce in the api-test:

###

[code]

Result:
[code]

Then:
[code]
Result:

[code]

If we query again:

[code]
We get three results

[code]

[2021-02-18 19:38] aggelosgkiokas opened #139 "ControlAction after RequestControl with AudioObject in RangeIncludes of Property returns null"
To reproduce:

[code]

[2021-02-19 08:09] alastair commented on #139
One thing to check - you set rangeIncludes to AudioObject, but in the query you are selecting you request a DigitalDocument:
[code]
Did you try with `... on AudioObject` ?

[2021-02-19 08:18] alastair commented on #138
Have you double-checked this with an empty CE? The fact that their are exactly 3 control actions is a bit suspicious, and I think that it could be because we accidentally created additional links between some objects that shouldn't be there.
Can you provide a full set of queries (or tpl config file) to create the SoftwareApplication/EntryPoint/ControlAction nodes too?

[2021-02-19 13:39] #139 closed

[2021-02-19 13:39] aggelosgkiokas commented on #139
Closed

[2021-02-22 13:56] alastair commented on #138
We tested this a bit more and in an empty CE it doesn't cause the same problem. It's not clear to us if we incorrectly linked some objects in the test CE which are causing more than 1 item to be returned in the join query in the RequestControlAction mutation, or if it's incorrectly matching on a different field.

[2021-02-24 16:49] ChristiaanScheermeijer opened #141 "Identifier field unique constraint"
The latest version of neo4j-graphql-js now has the `@unique` directive available. We should add this to all `identifier` fields to prevent duplicate identifiers in the Graph database.

[2021-02-25 09:13] #138 closed

[2021-02-25 09:15] ChristiaanScheermeijer commented on #20
@alastair can this issue be closed?

[2021-02-25 09:26] alastair commented on #20
This filter works for me on my local CE, so I guess everything is fine!
[code]

[2021-02-25 09:26] #20 closed

[2021-02-26 09:46] alastair opened #144 "Use PropertyValueSpecification.defaultValue in RequestControlAction"
if there is a PropertyValueSpecification that has a defaultValue set, and this Property is not specified in the `propertyValueObject` section of the `RequestControlAction` mutation, then a PropertyValue should still be created with the default value.

[2021-02-26 10:40] alastair commented on #144
Additional question - if a PropertyValueSpecification is required, but has a defautlValue, should it be required to set a value in RequestControlAction?

[2021-02-26 11:48] alastair commented on #144
Our proposed behaviour is:

* valueRequired: false, defaultValue: ‘low priority’, inputValue: undefined = use default value
* valueRequired: false, defaultValue: ‘low priority’, inputValue: ‘high priority’ = use input value
* valueRequired: true, defaultValue: ‘low priority’, inputValue: undefined = use default value
* valueRequired: true, defaultValue: ‘low priority’, inputValue: ‘high priority’

[2021-02-26 14:28] #126 closed

[2021-02-26 15:38] aggelosgkiokas commented on #144
I would decouple this from the target values range, and define this for any x,y. I.e.

valueRequired: false, defaultValue: x, inputValue: missing = return x
valueRequired: false, defaultValue: x, inputValue: y = return y
valueRequired: false, defaultValue: undefined, inputValue: undefined = error / or don't create node (TBD)
valueRequired: false, defaultValue: undefined, inputValue: y = return y
v

[2021-03-05 14:25] baukef commented on #70
It think this is solved with Solid Pods and Minio storage, see deliverable D5.3

[2021-03-05 15:52] alastair commented on #70
Yes, agreed. Solid solved most of the concerns that we raised with this ticket.

[2021-03-08 09:58] #141 closed

[2021-03-08 13:36] #129 closed

[2021-03-08 14:02] #30 closed

[2021-03-09 08:23] #144 closed

[2021-03-11 12:58] #112 closed

[2021-03-12 15:24] ChristiaanScheermeijer commented on #128
As discussed, we should add this in the `RequestControlAction` mutation.

[2021-03-12 15:30] ChristiaanScheermeijer commented on #105
@baukef We've implemented Authentication according to the following [documentation](https://github.com/trompamusic/ce-api/blob/staging/docs/authentication.md). Since this feature is an extension to the currently available authentication mechanism, we should decide to skip this for now.

[2021-03-12 15:31] baukef commented on #105
Ok, lets close this issue for now.

[2021-03-12 15:33] #103 closed

[2021-03-12 15:35] baukef commented on #91
As discussed with @alastair this is not required for the Trompa project and the issue can be closed.

[2021-03-12 15:37] ChristiaanScheermeijer commented on #87
@VincentCouzij @musicog is this issue solved?

[2021-03-12 15:40] ChristiaanScheermeijer commented on #85
@alastair, this should be relatively easy to implement for all types. Are you planning to add this feature (it is currently marked in the deliverable as not implemented)

[2021-03-12 15:46] baukef commented on #82
We suggest to close this ticket, because we don't think this needs to be solved within the project.

[2021-03-12 15:46] #82 closed

[2021-03-12 15:47] ChristiaanScheermeijer commented on #80
This seems to be solved otherwise

[2021-03-12 15:47] #80 closed

[2021-03-12 15:48] ChristiaanScheermeijer commented on #76
Duplicate

[2021-03-12 15:48] #76 closed

[2021-03-12 15:50] baukef commented on #73
Fixed in #100

[2021-03-12 15:50] #73 closed

[2021-03-12 15:51] baukef commented on #75
Duplicate

[2021-03-12 15:51] #75 closed

[2021-03-12 15:53] ChristiaanScheermeijer commented on #74
@CasperCDR @alastair we are now running a recent version of the neo4j-graphql-js which supports the `@unique` directive. Is it still relevant to add to the CE-API?

[2021-03-12 15:53] baukef commented on #71
Do you think we should keep this issue open? @alastair @musicog

[2021-03-12 15:53] #70 closed

[2021-03-12 15:54] baukef commented on #69
What is the status of this @alastair

[2021-03-12 15:54] ChristiaanScheermeijer commented on #69
This is possible using the `MusicPlaylist` type.

[2021-03-12 15:54] #69 closed

[2021-03-12 15:58] baukef commented on #67
This mechanism is described in Deliverable 5.3 'TROMPA Processing Library'

[2021-03-12 15:58] #67 closed

[2021-03-12 15:59] alastair commented on #71
We're modelling this with `DefinedTermSet`. There will be examples of it in the annotation components deliverable (#100)

[2021-03-12 16:01] #64 closed

[2021-03-12 16:01] alastair commented on #74
We have @unique on `identifier`, but we don't have it on `source` - it's still possible to import the same item from musicbrainz twice.
Having said that, I don't think it's a good idea to add unique to source, because we could have multiple objects that describe different aspects of a single source.

I don't know a good way (other than being careful with our code) to ensure that we don't import th

[2021-03-12 16:03] ChristiaanScheermeijer commented on #66
A running campaign is stored as **ControlAction** in the CE-API. This is the _identifier_ in the URL and can be used to query the status.

https://campaigns.trompamusic.eu/campaign/45568fb3-e55c-48d1-9103-fc6cb33d8b04

[code]

Which returns:

[code]

When the campaign has ended, the _actionStatus_ should be set to `CompletedActionStatus`. However, there is no mechanism or person assigned for this

[2021-03-12 16:03] #66 closed

[2021-03-12 16:04] baukef commented on #56
@aggelosgkiokas can we close this issue?

[2021-03-12 16:06] #55 closed

[2021-03-12 16:07] ChristiaanScheermeijer commented on #54
The concrete `CreativeWork` type has been removed from the CE-API. It is possible to query on the `CreativeWorkInterface`.

[2021-03-12 16:07] #54 closed

[2021-03-12 16:07] alastair commented on #82
Fine by me, but keep in mind a comment by @ChristiaanScheermeijer in D2.3 (https://docs.google.com/document/d/1fOpH9_k3AWlp6Z-Mx1fRlkHPw3_TuPd0HeYmSK5s6Xo/edit?ts=604b7cbc) about marking types that we haven't verified within the scope of the project.

[2021-03-12 16:08] baukef commented on #42
@musicog is this something that we should fix within the Trompa project?

[2021-03-12 16:08] ChristiaanScheermeijer commented on #46
@alastair can we close this issue in favour of the documentation at https://trompace-client.readthedocs.io/en/latest/index.html?

[2021-03-12 16:10] alastair commented on #42
Implementing this should be as simple as adding a new field to the required types.
If @musicog is still planning on storing content in the CE that requires this relation then I think that we should add it.

[2021-03-12 16:10] #43 closed

[2021-03-12 16:11] ChristiaanScheermeijer commented on #22
Duplicate #91

[2021-03-12 16:11] #22 closed

[2021-03-12 16:12] alastair commented on #46
Yes, I think that's fine, keeping in mind that this documentation only covers the core types that we've been working with in detail in the project (see #82)

[2021-03-12 16:12] #63 closed

[2021-03-12 16:13] ChristiaanScheermeijer commented on #62
The `composer` field is a one-to-many relation so multiple composers can be added to a single `MusicComposition`.

[2021-03-12 16:13] #62 closed

[2021-03-12 16:14] alastair commented on #22
Not quite the same, #91 talks about "Born in 1790-04, but we don't know the day", and this one is "Born some time around 1790 (maybe some years before or after)", but I agree that they're closely related and we could track them in one ticket. If we do so, we should add notes from this ticket to the other one.

[2021-03-12 16:14] #79 closed

[2021-03-12 16:16] ChristiaanScheermeijer commented on #65
It should be created as an algorithm and not be the responsibility of the CE-API. A simple subscription that monitors newly created ControlActions derived from the campaign task potential action could trigger notifications.

[2021-03-12 16:16] #65 closed

[2021-03-12 16:17] alastair commented on #85
I'm going to add it to the annotation json-ld serialiser, but it could also be added to the generic one. I'll add it to my list.

[2021-03-15 07:32] #46 closed

[2021-03-15 15:36] ChristiaanScheermeijer commented on #71
Closed with #100

[2021-03-15 15:36] #71 closed

[2021-03-18 13:42] VincentCouzij commented on #87
The vocab.trompamusic.eu subdomain with corresponding S3 bucket was created months ago so this ticket can be closed @ChristiaanScheermeijer

[2021-03-18 13:42] #87 closed

[2021-03-19 10:54] #85 closed

[2021-03-19 14:21] alastair commented on #86
I made annotations schema:Things in #100

[2021-03-19 14:21] #86 closed

[2021-03-19 14:23] alastair commented on #68
In the end it's only 2 lines to add Apollo to a react app so maybe this isn't as important as I had thought it would be.

It might be interesting to have a bunch of `gql` template strings for common operations that we can use in different apps.

[2021-03-19 14:27] alastair commented on #92
We found that you can [make a relation for a single item](https://github.com/trompamusic/ce-api/blob/17d4834e7d72fda334438e5307a879e0eb4f415c/src/schema/type/Annotation.graphql#L6):

    target: ThingInterface! @relation(name: "ANNOTATION_TARGET", direction: OUT)

However, in the case where a field is required and a relation, the Create mutation allows you to create an object without the field (be

[2021-03-19 14:31] alastair commented on #56
I think I might have come up with this idea. I think I was wanting something like the [ce-poc-algorithm](https://github.com/trompamusic/ce-poc-algorithm) web interface that shows all ControlActions for all algorithms, and which ones are waiting/running/finished. It could give us a nice overview / public interface to show off all of the things that are happening in trompa. Definitely a nice-to-have

[2021-03-19 14:33] #60 closed

[2021-03-22 10:26] #128 closed

[2021-03-22 21:26] musicog commented on #105
I believe we now have suitable authentication mechanisms in place for both web-app => Solid and CE (TPL) => Solid interactions. Per Bauke's comment, closing for now.

[2021-03-22 21:26] #105 closed

[2021-03-29 10:48] musicog commented on #58
This has been solved by our use of Solid Pods for user contributions

[2021-03-29 10:48] #58 closed

[2021-03-29 10:50] musicog commented on #61
Currently stored outside the CE. Only relevant for instrumentalist use-case. Final decision on default storage place still pending, but it won't be inside the CE.

[2021-03-29 10:50] #61 closed

[2021-04-08 14:07] alastair opened #175 "make ItemList json-ld render as an ldp:Container"
Lists of things in solid pods are stored as [ldp containers](https://www.w3.org/2012/ldp/wiki/Containers). For simplicity in interoperability, it would be good if ItemLists, when serialised as json-ld would also look like ldp containers.
To do this, make them also have the types `ldp:BasicContainer` and `ldp:Container` (ldp: http://www.w3.org/ns/ldp#).

ldp containers list the items contained in t

[2021-04-08 14:13] alastair opened #176 "allow OPTIONS on json-ld API"
linked data clients use OPTIONS to see what kind of operations that they can do on a server. Because the json-ld export in the CE is read-only, we should implement OPTIONS that returns:

[code]

so that clients know that they cannot write to the CE.

[2021-04-08 14:14] musicog commented on #176
N.b. "Allow" is a header. See:
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Allow
and
https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/OPTIONS

[2021-04-10 21:44] alastair opened #178 "json-ld api doesn't return fields that are defined as interfaces"
when using the document api, only fields that are scalars or links to concrete types are returned. For example, a query

[code]
which returns
[code]

however, the json-ld response only includes:
[code]
It includes things like `source` which is just a String, and it also includes `workExampleMediaObject` which is our special field with the same relation name as `workExample` but with a type of `Med

[2021-04-10 22:04] alastair commented on #178
It looks like the interface a schema in graphql-tools changed since we upgraded it. This patch appears to work:
[code]

[2021-04-11 10:16] alastair opened #179 "json-ld: only add items to context if they're used in this document"
We have some hard-coded url -> prefixes for the contexts that we use:
https://github.com/trompamusic/ce-api/blob/1e669bfcaab9fbc919b9d1c49abe546a27211b80/src/routes/helpers/transformers.js#L6-L12

We should only return these mappings if the prefix is used in the document that is being returned

[2021-04-11 10:17] alastair opened #180 "json-ld: Raise custom error if json file for output configuration is missing"
We have a test to try and load a config from a mapping file:
https://github.com/trompamusic/ce-api/blob/1e669bfcaab9fbc919b9d1c49abe546a27211b80/src/routes/helpers/transformers.js#L39-L43

however the `require` will fail with an exception if the file is missing and we don't get our custom "JSON LD not supported for type" error message

[2021-04-11 10:19] alastair commented on #175
I had hoped to implement this by adding another item to the types list for a field, e.g.
https://github.com/trompamusic/ce-api/blob/24270a1f4d65bd3cc34a12b8dca0b9372454b34a/src/routes/helpers/jsonld/ItemList.json#L25-L28

however, this doesn't appear to work if I add two types to the definition for itemListElement. It's possible that there's some alternative logic when mapping relations which isn'

[2021-04-11 10:33] alastair opened #181 "json-ld: Don't render fields in the output if they're not in the json mapping file"
In some types we've added specific relations in order to generate filter queries for them:
https://github.com/trompamusic/ce-api/blob/24270a1f4d65bd3cc34a12b8dca0b9372454b34a/src/schema/type/MusicComposition.graphql#L176-L179
These fields are useful only for graphql, and shouldn't be rendered in the jsonld.

A good way to do this would be to remove these fields from the matching json file that con

[2021-04-11 12:44] alastair commented on #175
ItemLists now look like this:

[code]

[2021-04-11 12:50] alastair commented on #181
This functionality already exists, these fields were present in MusicComposition.json. I removed them and they're no longer in the output.

[2021-04-13 18:34] alastair opened #184 "add type field automatically to all objects when creating"
Sometimes we have lists of objects that are of varying types. For example, an ItemList could contain a DefinedTermSet, an Annotation, and an AudioObject.
At the moment I'm distinguishing these items by adding `__typename` to the output. However, all objects have a `type` field which is supposed to be the semantic web type (the same type that we serialise to `@type` in the json-ld serialiser).
If w

[2021-04-20 18:39] alastair opened #187 "Bug when performing filters with substring matches"
I added some data to the production API, ItemList id `e91489d7-a776-40dd-8abf-0c934922bd99`
I can query it and get all items (these queries work on prod api):
[code]

and I can also filter and ask it to give me the item list, and all itemListElements that have a particular name:

[code]

But I'd also like to be able to do a more wildcard-like search, so I tried:
[code]
However this fails with an e

[2021-04-20 18:43] alastair commented on #187
For now I've been able to work around it by using the regexp match:

[code]

[2021-04-29 10:21] alastair opened #190 "Update AnnotationCEMotivation to include oa:Motivation fields"
an `oa:Motivation` has fields `rdfs:label` (for the name of the motivation) and `rdfs:comment` (for a description).
We should make sure that in the JSON-LD serialisation that AnnotationCEMotivation `title` is exposed as label, and `description` as comment so that they render as valid motivations.

[2021-04-30 07:36] #42 closed

[2021-04-30 07:39] #175 closed, assigned to alastair

[2021-04-30 07:39] #178 closed, assigned to alastair

[2021-04-30 07:39] #180 closed, assigned to alastair

[2021-04-30 07:39] #181 closed, assigned to alastair

[2021-04-30 12:26] ChristiaanScheermeijer commented on #187
I think this is an issue in the neo4j-graphql-js package. I will have to debug some more to find the issue.

[2021-04-30 12:46] ChristiaanScheermeijer commented on #176
@alastair @musicog the `Allow` header should only be set when a wrong request method is being used. We do support POST requests for GraphQL requests. Should this restriction only be made for the `/:identifier` route?

[2021-04-30 13:07] alastair commented on #176
From what I understand I think that we should do:

I'm not sure if Allow: should also be included in the GET and POST methods, however the header should only appear in the `/:identifier` route

[2021-05-04 07:55] alastair opened #193 "Some nodes don't serialise to json-ld"
As an example, `https://api.trompamusic.eu/15b91cbc-826a-4a8d-9eaf-d5ac56613cba` fails with:

This appears to be a `Place`. We should look into what field it's trying to read. This happens with a handful of items in the CE (so far about 10% of them)

[2021-05-04 08:14] alastair commented on #193
Possible that this will be fixed when #182 is merged to production

[2021-06-07 16:42] aggelosgkiokas opened #203 "RequestControlAction Bug"
Try the following (api-test):

###  RequestControlAction(
    controlAction: {
      potentialActionIdentifier: "4d7286c5-f167-4e00-add1-3023c1a5f300"
      entryPointIdentifier: "c0716492-30ad-405e-a915-f80908cb9e81"
      propertyObject: [
        {
          nodeIdentifier: "e8aaa49c-9e5f-468e-852f-c100b29df780"
          potentialActionPropertyIdentifier: "ddb6740a-437a-4ed9-b01a-ac1e180bb809"

[2021-06-09 12:41] aggelosgkiokas opened #204 "ThingInterface does not have contentUrl"
In the modelling discussion, for AudioObject, MediaObject and VideoObject, the URI of the object is contained in the contentURL feld.

However, for requesting a ControlAction, it is impossible to access this field, because the the PropertyValue nodes do not support this.

PropertyValue --> NodeValue implements ThingInterface. ThingInterface does not have contentURL field.

Could be a solution to j

[2021-06-09 14:22] alastair commented on #204
Unfortunately we can't put contentUrl in ThingInterface, because it means that all objects that implement ThingInterface would have to add it, and that doesn't make sense.

Can you perform a query like this?

[code]

[2021-06-09 15:42] aggelosgkiokas commented on #204
works. thanks

[2021-06-09 15:42] #204 closed, assigned to nobody

[2021-06-09 15:42] #203 closed, assigned to nobody

[2021-07-13 12:35] #176 closed, assigned to nobody